body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main {
  width: 100%;
  height: 100vh;
  font-family: "Amiri";
  background-color: rgb(222, 222, 222);
}

.content {
  width: 100%;
}

.sidebar {
  width: 120px;
  height: 100%;
  background: url(imgs/black-3840x2160-4k-5k-wallpaper-gray-background-pattern-229.jpg);
  background-size: cover;
  transition: all 0.3s;
  font-family: "Vazirmatn";
}

.clicked-sidebar {
  position: absolute;
  right: 0;
  top: 0;
}

.not-clicked-sidebar {
  position: absolute;
  right: -150px;
  top: 0;
}

.clicked-menu {
  position: absolute;
  right: 120px;
}

.not-clicked-menu {
  position: absolute;
  right: 0px;
}

.menu-btn {
  direction: rtl;
  position: absolute;
  top: 10px;
  right: 10px;
}

.menu {
  padding: 10px;
  margin-top: 3px;
  cursor: pointer;
  transition: ease-out all 0.4s;
  position: absolute;
  border-radius: 5px;
}

.menu:hover {
  background-color: black;
  color: white;
  border-radius: 50%;
}

.content h1,
.post h1 {
  margin: 0;
  padding-top: 10px;
  font-size: 25px;
  cursor: default;
  text-align: center;
}

.post {
  overflow-y: auto;
}

.search {
  display: flex;
  width: 95%;
  margin: 20px auto;
  justify-content: space-between;
}

.search input {
  width: 200px;
  height: 30px;
  padding-right: 6px;
  border-radius: 5px;
  border: 1px solid rgb(113, 113, 113);
  outline: 1px solid rgb(184, 184, 184);
  direction: rtl;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-family: "Amiri";
}

.add {
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s;
  transform: translateY(-10px);
  background-color: black;
  color: white;
  border-radius: 5px;
  transform: translateY(10px);
}

.add:hover {
  color: green;
}

.app table {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
}

.table {
  width: 100%;
  margin: 20px auto;
}

th {
  cursor: default;
  font-size: 15px;
}

td {
  width: 25%;
  padding: 5px;
  cursor: default;
  font-size: 12px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.post table .paragraf {
  text-align: start;
}

.app tr {
  border: 1px solid rgb(60, 59, 59);
}

.table-w th,
.table-w {
  border: 2px solid black;
  border-collapse: collapse;
}

.delete {
  color: red;
  cursor: pointer;
  font-size: 22px;
  padding-right: 4px;
}

.edit {
  cursor: pointer;
  font-size: 22px;
  padding-right: 4px;
  color: rgb(0, 0, 0);
}

.forum {
  font-size: 24px;
  padding-left: 4px;
  cursor: pointer;
}

.forum:hover {
  opacity: 0.6;
}

.delete:hover {
  opacity: 0.6;
}

.edit:hover {
  opacity: 0.6;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.img {
  height: 10%;
  width: 65%;
  background-size: cover;
  margin: 30px auto;
}

.sidebar ul {
  height: 200px;
  margin-top: 20px;
}

.sidebar ul li {
  text-align: center;
  padding: 10px;
  transition: all 0.3s;
}

.sidebar ul a {
  color: white;
  text-decoration: none;
}

.sidebar ul li:hover {
  background-color: gray;
}

.sidebar ul li a {
  font-size: 17px;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.sidebar ul li a:hover {
  color: blue;
  font-weight: bold;
}

.hNav {
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding-top: 10px;
  font-family: "Vazirmatn";
  font-weight: 400;
}

.gallery,
.post,
.todo {
  width: 50%;
  margin: 0 auto;
}

@media (min-width: 720px) {
  .app th {
    font-size: 17px;
  }

  .app td {
    font-size: 14px;
  }

  .content h1,
  .post h1 {
    font-size: 28px;
    font-family: "Vazirmatn";
    font-weight: 400;
  }

  .content input {
    width: 240px;
  }

  .add {
    font-size: 25px;
  }

  .sidebar {
    width: 180px;
  }

  .not-clicked-sidebar {
    right: -180px;
  }

  .clicked-sidebar {
    right: 0px;
  }

  .not-clicked-menu {
    right: 0;
  }

  .clicked-menu {
    right: 180px;
  }

  .sidebar ul li Link {
    font-size: 19px;
  }

  .img {
    height: 10%;
    width: 48%;
  }
}

@media (min-width: 1100px) {
  .sidebar ul li Link {
    font-size: 22px;
  }

  .content input {
    width: 270px;
  }

  .content h1,
  .post h1 {
    font-size: 2.2rem;
  }

  .add,
  .delete,
  .edit {
    font-size: 26px;
  }

  .sidebar {
    width: 220px;
  }

  .not-clicked-sidebar {
    right: -220px;
  }

  .clicked-sidebar {
    right: 0px;
  }

  .not-clicked-menu {
    right: 0;
  }

  .clicked-menu {
    right: 220px;
  }

  .img {
    height: 11%;
    width: 38%;
  }

  .app th {
    font-size: 19px;
  }

  .app td {
    font-size: 16px;
  }
}

.afzodan {
  font-size: 2rem;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-family: "Vazirmatn";
  font-weight: 400;
}

.addPage {
  width: 70%;
  height: 550px;
  background-color: white;
  margin: 2dvb auto;
  border-radius: 20px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
}

form {
  width: 95%;
  height: 95%;
  margin: 0 auto;
  padding-top: 20px;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.addPage form label {
  font-size: 1.1rem;
  padding-top: 15px;
  font-weight: bold;
  display: block;
}

.person {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid gray;
  padding-right: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.addres {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 10px;
  padding-right: 5px;
  font-family: "Vazirmatn";
}

.sub-form div input {
  padding: 5px;
  width: 60px;
  border-radius: 5px;
  font-family: "Vazirmatn";
  font-weight: bold;
  border: 0;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.sub-form {
  width: 100%;
  direction: ltr;
}

.sub-form div {
  width: 140px;
  display: flex;
  justify-content: space-between;
}

.sub {
  background-color: rgb(47, 47, 255);
}

.res {
  background-color: rgb(255, 31, 31);
}

.sub-form div input:hover {
  opacity: 0.8;
}

@media (min-width: 740px) {
  .addres {
    width: 45%;
  }

  .addPage {
    width: 50%;
  }

  .main-addres {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .addPage {
    height: 480px;
  }
}

@media (min-width: 1100px) {
  .addPage {
    width: 50%;
  }

  .addres {
    width: 48%;
  }
}

.war {
  width: 700px;
  margin: 0 auto;
  background-color: orangered;
  color: white;
}

.war h4 {
  text-align: center;
  font-size: 2.2rem;
  font-family: "Vazirmatn";
}

.acNav li {
  background-color: white;
  color: black;
}

.weit {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Vazirmatn";
  color: red;
}

span {
  padding: 5px;
}

.post {
  width: 100%;
  height: 100vh;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}

.modal-box {
  width: 100%;
  margin-top: 45px;
  transition: all 0.3s;
  position: absolute;
}

.text-modal {
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  width: 70%;
  min-height: 270px;
  border-radius: 20px;
  padding: 5px;
}

.t-comment {
  width: 100%;
  background-color: white;
  direction: rtl;
  border: 2px solid rgb(255, 255, 255);
  border-collapse: collapse;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
}

.table{
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.t-comment th{
  border: 2px solid rgb(255, 255, 255);
  border-collapse: collapse;
}

.t-comment thead tr {
  height: 30px;
  font-family: "Vazirmatn";
  background-color: black;
  color: white;
  border: 1px solid white;
}

.d {
  width: 8%;
}

.t-comment tbody tr {
  font-weight: 500;
  background-color: gray;
}

.table h1{
  text-align: center;
  font-size: 2rem;
  font-family:'Vazirmatn' ;
}

.close-modal{
  margin-top: 25px;
  background-color: rgb(255, 31, 31);
  padding: 7px 12px;
  border: 2px solid black;
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 0;
  font-family: "Vazirmatn";
  /* font-weight: bold; */
  font-size: 14px;
  cursor: pointer;
}

.close-modal:hover{
  opacity: 0.6;
}

.pation{
  text-align: center;
  margin-top: 50px;
  color: red;
}